@import url(http://fonts.googleapis.com/css?family=Oswald);

$sitefont: 'Oswald', sans-serif;
$offblack: #161616;
$button-color: #4A4242;
$pressed: #2B2727;
$break: 1280px;
$button-size: 300px;
$button-small: 200px;

body {
	font-family: $sitefont;
	font-size: 2em;
  letter-spacing: 0.1em;
	background: $offblack;
	width: 100%;
  margin: 0;
  text-align: center;
}
.media {
  width: ($button-size * 3) + 300;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $break) {
    width: ($button-small * 3) + 300;
  }
}
img {
  width: 100%;
  height: auto;
}
.button.hidden {
  visibility: hidden;
}
.button {
  display: inline-block;
  position: relative;
  border: 1px solid #7d7e7d;
  border-radius: 10px;
  background-color: #7d7e7d; 
  background: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
  height: $button-size;
  width: $button-size;
  margin: 100px 50px 0 50px;
  @media screen and (max-width: $break) {
    height: $button-small;
    width: $button-small;
    //line-height: $button-small;
    margin: 50px 25px 0 25px;
  }
}
.button:hover {
  border:1px solid #4a4b4a;
  background-color: #646464; 
  background: linear-gradient(to bottom, #646464, #282828);
}
a {
  text-transform: uppercase;
	text-decoration: none;
	color: white;
  span.link {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  span.text {
    position: absolute;
    top: $button-size/2;
    left: 0;
    right: 0;
    @media screen and (max-width: $break) {
      top: $button-small/3;
    }
  }
}